
.smallScreen .mailflowbutton
{
	
	font-size: 14px;
	
	padding:10px;
	
	line-height: 1.2;
	
	

}
.smallScreen .cancelflowbutton
{
	font-size: 14px;
	
	padding:10px;
	
	line-height: 1.2;
	

}
.smallScreen .step-outer
{
 
	width:255px;
	height:53px;
	padding-left:0px;

}

.smallScreen .step-inner-wrapper
{
	width:250px;
	
}
.smallScreen .step-number
{
	line-height:55px;	 
	width:45px;  
	height:50px;	
	font-size:1.7em;
	
}
.smallScreen .step-text
{
	
	width:150px;
	font-size:1.2em;
	padding-left:8px;
}
.smallScreen .step-start
{
	
	width:25px;
	
	font-size:1em;
}
.smallScreen .step-edit
{
	
	width:25px;
	
	font-size:1em;
}

.smallScreen .step-checkbox
{
	
	width:45px; 
	height:45px; 
	
	
}

/* completed version of divs */

.smallScreen .completed .step-number
{
	display:none; 
}





/* jquery overrides */


/* end jqury override */